<%- include("../../partials/head") %>


    <div class="container my-container mt-5">

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card card-body">
                   
                        <h4 class="card-title">Create a new account</h4>
                        <form action="/auth/signup" method="post">
                            <div class="mb-3 mt-3">
                                <label for="username">Username(Must be unique)</label>
                                <input type="text" class="form-control" placeholder="ENter your username" id="username" name="username">
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" placeholder="Enter your email address" name="email" id="email">
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="password">Password</label>
                                <input type="text" class="form-control" placeholder="Enter your password" name="password" id="password">
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="confirm_password">Confirm Password</label>
                                <input type="text" class="form-control" placeholder="Enter your confirm password" name="confirm_password" id="confirm_password">
                            </div>
                            <div  class="mb-3 mt-3">
                                <input type="submit" class="form-control btn btn-primary" value="Sign Up">
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>

    <%- include("../../partials/footer") %>

        </body>

        </html>