<%- include("../../partials/head") %>


    <div class="container my-container mt-5">

        <div>Welcome to my dashboard</div>
    </div>

    <%- include("../../partials/footer") %>

</body>

</html>